@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Roboto&display=swap');
/*font-family: 'Inter', sans-serif;
 font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --blackOpacity-60: rgba(0, 0, 0, 0.6);
  --blackOpacity-40: rgb(163, 163, 163);
  --whiteFone: #ffffff;
}
body {
  background: var(--blackOpacity-60);
}
* {
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
ul[class] {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width:900px;
  margin: 1rem auto;
  padding: 1.5rem;
}
#component-emergency {
  font-family:'Inter', 'Montserrat', 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color:var(--whiteFone);
  width: 100%;
}
.ce-breadcrumb, .ce-btn {
  color: var(--blackOpacity-40);
  line-height: 1.2rem;
  text-align: justify;
  padding:10px 0.5rem;
}
.ce-hr {
  text-align: center;
  width:100%;
  margin: 0px 0 12px;
  padding: 1rem 0 0;
  border:none;
  border-bottom: 1px solid var(--whiteFone);
}
.ce-content {
  display: flex;
  flex-direction: column;
}
.ce-title {
  padding: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 1rem 0;
}
.ce-todo-item, .ce-forbidden-todo-item {
  display: grid;
  grid-gap:10px;
  grid-template-columns: repeat(2, minmax(270px, 1fr));
  font-size: 0;

}
.ce-todo-item li, .ce-forbidden-todo-item li{
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  align-items: center;
}
.ce-todo-item li {
  justify-content: flex-start; 
}

.icon-item {
  width:80px;
  height: 58px;
  background:center no-repeat url('./book.png');
  background-size: auto;
  margin: 0;
  padding: 0;
}
.ce-forbidden-todo-item .icon-item {
  background:center no-repeat url('./notification.png');
}

.text-item {
  width: calc(100% - 80px);
  margin: 0;
  padding: 0 10px 0;

}
.ce-btn {
  margin: 0 3%;
  width: 25%;
}
.ce-btn-link {
  padding: 10px 35px;
  position: relative;
  display: block;
  color: var(--blackOpacity-40);
}
.ce-btn-link::before {
  content: '';
  position: absolute;
  width:25px;
  height: 25px;
  top:50%;
  transform: translateY(-50%);
  left:0;
  background: no-repeat url('./notification.png');
}

.ce-breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.ce-breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .2rem;
  content: "-";
}
.ce-breadcrumb-link{
  color: var(--blackOpacity-40);
}

@media all and (max-width: 768px) {
  #component-emergency {
    margin:0 0 0 10%;
    font-size: 1.5rem;
    width: 80%;
  }
  .ce-todo-item, .ce-forbidden-todo-item {
    grid-template-columns: 1fr;
  }
  .text-item {
    width: calc(80% - 80px);
    margin: 0 ;
    padding: 0 10px 0;
  
  }
  .ce-forbidden-todo-item .icon-item {
    background:left no-repeat url('./notification.png');
    width:5%;
  }
  .ce-btn {
    width: 50%;
    margin: 0
  }
  .ce-title {
    font-size: 1.75rem;
  }
  .ce-todo-item li, .ce-forbidden-todo-item li{
    font-size: 1.5rem;
  }
}