<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Emergency</title>
</head>
<body>
  <div class="container">
      <div id="component-emergency">
        <hr class="ce-hr">
        <nav aria-label="Breadcrumb" class="ce-breadcrumb">
          <ul>
              <li><a href="#" class="ce-breadcrumb-link">наслідки війни</a></li>
              <li><span aria-current="page">знайшли вибухонебезпечні чи підозрілі предмети</span></li>
          </ul>
         </nav>
        <div class="ce-content">
            <section class="ce-todo">
                <h2 class="ce-title">
                  Ваші дії
                </h2>
                
                <ul class="ce-todo-item">
                    <li><span class="icon-item"></span><span class="text-item">Повідомте 101 або 102</span></li>
                    <li><span class="icon-item"></span><span class="text-item">Позначте небезпечне місце добре видимим орієнтиром</span></li>
                    <li><span class="icon-item"></span><span class="text-item">Попередьте про знахідку інших осіб поруч</span></li>
                    <li><span class="icon-item"></span><span class="text-item">Відведіть інших та відійдіть самостійно на безпечну відстань (не менше 100 м)</span></li>
                </ul>
            </section>

            <hr class="ce-hr">

            <section class="ce-todo">
                <h2 class="ce-title">
                  Заборонено
                </h2>
                
                <ul class="ce-forbidden-todo-item">
                    <li><span class="icon-item"></span><span class="text-item">Пересувати або брати в руки</span></li>
                    <li><span class="icon-item"></span><span class="text-item">Заливати рідиною</span></li>
                    <li><span class="icon-item"></span><span class="text-item">Кидати, ударяти по ВНП</span></li>
                    <li><span class="icon-item"></span><span class="text-item">Засипати піском та грунтом</span></li>
                    <li><span class="icon-item"></span><span class="text-item">Розпалювати поряд багаття</span></li>
                    <li><span class="icon-item"></span><span class="text-item">Допускати скупчення людей біля ВНП</span></li>
                    <li><span class="icon-item"></span><span class="text-item">Користуватися засобами радіозв’язку, мобільними телефонами</span></li>
                </ul>
            </section>
  
        </div>
        <hr class="ce-hr">

        <div class="ce-btn">
            <a href="#" class="ce-btn-link">Докладніше</a>
        </div>
      </div>
  </div>
</body>
</html>